<nav class="m-admin">
   <div class="content_all sub-menu">
       <li *ngFor="let menuItem of menuItems"
            routerLinkActive="active"
            [routerLink]="[ menuItem.route ]">
            {{ menuItem.name }}
      </li>
       
   </div>
</nav>
