<div class="container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/general/banners' ]">Atrás</button>
   <div>
      <h2 class="section-tit"></h2>
      
      <br />
      <form [formGroup]="bannerForm" class="main-form">
         <div class="front-content-main">
            <div> 
               <label>Tipo de Banner</label>
               <select
                  name="type"
                  formControlName="type"
                  [compareWith]="compareObjects">
                  <option 
                     *ngFor="let bannerType of bannerTypes" 
                     [value]="bannerType.id">
                     {{ bannerType.name }} 
                  </option>
               </select>
            </div>
   
            <div>
               <label>Posición del Banner</label>
               <input autocomplete="off" name="position" required  min="1" type="number"
                  formControlName="position" />
            </div>
   
            <div>
               <label>Titulo</label>
               <input autocomplete="off" name="title" required type="text"
                  formControlName="title" />
            </div>
   
            <div>
               <label>Resumen del Banner</label>
               <textarea 
                  autocomplete="off" 
                  name="summary" 
                  required 
                  type="text"
                  rows="5" cols="30"
                  formControlName="summary"> </textarea>
            </div>
   
            <br />
            <br />
            <label>Activo</label>
            <input id="cbox1" type="checkbox" formControlName="active" value="0">
   
            <br />
            <div class="img-center">
               <img *ngIf="headerLogoSrc" class="logo-img" [src]="headerLogoSrc" alt="Background Img">
               <label *ngIf="!headerLogoSrc">No se ha seleccionado ninguna imagen</label>
                  <app-file-upload               
                     #fileUploadComponent 
                     (selectedFilesEvent)="getBackgroundImg($event)"
                     (filesRemoved)="filesRemoved($event)"
                     [multiple]="false"
                     [activateDeleteBtn]="true"
                     [textValue]="'Imagen del Fondo del Banner'">
                  </app-file-upload>
                  
            </div>
         </div>
         
         <label>Texto del Detalle del Banner</label>
         <div class="angular-editor-container">
            <angular-editor 
               class="angular-editor" 
               formControlName="htmlContent"
               [config]="editorConfig">             
            </angular-editor>
         </div>
         
         <button class="btn-backUp" type="submit" (click)="saveBanner()">Guardar</button>
      </form>
   </div>
</div>