<div class="main-container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/applications/no-awarded' ]">Atrás</button>
   <table class="table-admin">
      <thead>
         <tr>
            <th>Id</th>
            <th>Estado</th>
            <th>Nivel</th>
            <th>Estado Válido Hasta</th>
            <th>Fecha de Creación</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let history of histories">
            <td>{{ history.id }}</td>
            <td>{{ history.status.name }}</td>
            <td>{{ history.level }}</td>
            <td>{{ history.valid_to }}</td>
            <td>{{ history.timestamp }}</td>                  
         </tr>
      </tbody>
   </table>


</div>
