<div class="menu-backup">
   <button [ngClass]="{'btn-backUp': showBasicData}" style="width: 150px; height: 30px;" class="btn-prog right new-class" type="submit" (click)="changeView(1)">Datos Básicos</button>
   <button [ngClass]="{'btn-backUp': showHistory}"  style="width: 150px; height: 30px;" class="btn-prog right new-class" type="submit" (click)="changeView(2)">Historial</button>
   <button [ngClass]="{'btn-backUp': showCommits}" style="width: 150px; height: 30px;" class="btn-prog right new-class" type="submit" (click)="changeView(3)">Comentarios</button>
   <button [ngClass]="{'btn-backUp': showRequirements}" style="width: 150px; height: 30px;" class="btn-prog right new-class" type="submit" (click)="changeView(4)">Requisitos</button>
</div>

<app-basic-data *ngIf="this.service.length && showBasicData" [service]="this.service"></app-basic-data>

<app-history *ngIf="this.service.length && showHistory" [histories]="this.service[0].history"></app-history>

<app-commits *ngIf="this.service.length && showCommits" [commits]="[]"></app-commits>

<app-requirements *ngIf="this.service.length && showRequirements" [services]="this.service"></app-requirements>

