<div class="content_all">
    <div class="content_children">
        <h1 class="logo" >
            <!-- <img  src="/content/images/gov-co.svg" /> -->
            <img style="width: 60px;" src="assets/images/sell_gel.png" />
        </h1>
        <nav class="menu">
            <li [routerLink]="[ '/admin/general' ]" (click)="changeSubMenu('GEN')" routerLinkActive="active">
                <p>General</p> 
            </li>
            <li [routerLink]="[ '/admin/applications' ]" (click)="changeSubMenu('APP')" routerLinkActive="active">
                <p>Postulaciones</p> 
            </li>
            <li [routerLink]="[ '/admin/manage' ]" (click)="changeSubMenu('MAN')" routerLinkActive="active">
                <p>Administrar</p> 
            </li>
        </nav>
    </div>

    <div class="user-wraper">
        <a (click)="logout()">Cerrar sesión</a>
    </div>
</div>

<app-sub-menu *ngIf="isGeneralMenu" [menuItems]="listItemSubmenu.general"></app-sub-menu>
<app-sub-menu *ngIf="isApplicationsMenu" [menuItems]="listItemSubmenu.applications"></app-sub-menu>
<app-sub-menu *ngIf="isManageMenu" [menuItems]="listItemSubmenu.manage"></app-sub-menu>