<div class="container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/manage/cities' ]">Atrás</button>
   <div>
      <h2 class="section-tit"></h2>
      
      <br />
      <form [formGroup]="requestStatusForm" class="main-form">
         <div class="front-content-main">   
            <div>
               <label>Id</label>
               <input autocomplete="off" name="id" required  min="1" type="number"
                  formControlName="id" readonly/>
            </div>
   
            <div>
               <label>Nombre</label>
               <input autocomplete="off" name="name" required min="1" type="text"
                  formControlName="name" />
            </div>
            
            <div>
               <label>Codigo</label>
               <input autocomplete="off" name="code" required min="1" type="text"
                  formControlName="code" readonly/>
            </div>
   

            <div>
               <label>Latitud</label>
               <input autocomplete="off" name="latitude" required type="number"
                  formControlName="latitude" readonly/>
            </div>

            <div>
               <label>Longitud</label>
               <input autocomplete="off" name="longitude" required type="number"
                  formControlName="longitude" readonly/>
            </div>

            <div>
               <label>Región</label>
               <select
                  name="region"
                  formControlName="region"
                  [compareWith]="compareObjects">
                  <option 
                     *ngFor="let region of regions" 
                     [value]="region.id">
                     {{ region.name }} 
                  </option>
               </select>
            </div>
         </div>
                  
         <button class="btn-backUp" type="submit" (click)="updateCity()">Guardar</button>
      </form>
   </div>
</div>