<div class="modal-container">

   <mat-card-title class="title-left">{{ data.title }}</mat-card-title>
   <mat-card-content>
     {{ data.message }}
   </mat-card-content>

   <div class="separator"></div>
   <div class="btn-container" mat-dialog-actions>
        <button class='btn-prog right' (click)="onNoClick()">Cancelar</button>
       <button class='btn-main' [mat-dialog-close]="true" (click)="confirmDeleting()" cdkFocusInitial>Aceptar</button>
   </div>
   
</div>