<div class="container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/manage/regions' ]">Atrás</button>
   <div>
      <h2 class="section-tit"></h2>
      
      <br />
      <form [formGroup]="requestStatusForm" class="main-form">
         <div class="front-content-main">   

            <div>
               <label>Nombre</label>
               <input autocomplete="off" name="name" required min="1" type="text"
                  formControlName="name" />
            </div>

            <div>
               <label>Pais</label>
               <select
                  name="country"
                  formControlName="country"
                  [compareWith]="compareObjects">
                  <option 
                     *ngFor="let country of countries" 
                     [value]="country.id">
                     {{ country.name }} 
                  </option>
               </select>
            </div>

            <div>
               <label>Capital</label>
               <select
                  name="capital"
                  formControlName="capital"
                  [compareWith]="compareObjects">
                  <option 
                     *ngFor="let capital of capitals" 
                     [value]="capital.id">
                     {{ capital.name }} 
                  </option>
               </select>
            </div>

         </div>
                  
         <button class="btn-backUp" type="submit" (click)="updateCity()">Guardar</button>
      </form>
   </div>
</div>