<div class="main-container">

   <form [formGroup]="searchForm" class="form-search" style="margin:20px 0">
      <div>
         <div class="cl-5 fix-height-input">
            <label>Buscar por titulo o resumen</label>
            <input name="search" type="text" formControlName="search"/>
         </div>
   
   
         <div class="cl-5">
            <label>Tipo</label>
            <select
               name="type"
               formControlName="type">
               <option value="">Todos</option>
               <option *ngFor="let type of types">{{ type }}</option>
            </select>
         </div>
         <div class="cl-5">
            <label>Activo</label>
            <select 
               name="active"
               formControlName="active">
               <option value="">Todos</option>
               <option value="1">Activo</option>
               <option value="0">Inactivo</option>
            </select>
         </div>  
         <input 
            type="submit" 
            class="btn-main" 
            value="Buscar"
            (click)="search()">
      </div>
      

      <input 
         type="submit" 
         class="btn-main btn-create" 
         value="Crear"
         [routerLink]="[ '/admin/general/banners/create' ]">
      <br />
   </form>

   <table class="table-admin">
      <thead>
         <tr>
            <th>Posición</th>
            <th>Titulo</th>
            <th>Resumen</th>
            <th>Tipo</th>
            <th>Activo</th>
            <th>Fecha de Creación</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let banner of bannersList">
            <td>{{ banner.id }}</td>
            <td>{{ banner.title }}</td>
            <td>{{ banner.summary }}</td>
            <td>{{ banner.type.name }}</td>
            <td>
               <input 
                  id="cbox1" 
                  type="checkbox"    
                  onclick="return false;"           
                  [value]="banner.active" 
                  [checked]="banner.active">
            </td>
            <td>{{ banner.timestamp }}</td>
            <td>
               <button 
                  type="button" 
                  class="btn-save"
                  [routerLink]="[ '/admin/general/banners/details', banner.id ]">
                  Editar
               </button>
            </td>

            <td>
               <button 
                  type="button" 
                  class="btn-prog right"
                  (click)="deleteBanner(banner.id)">
                  Eliminar
               </button>
            </td>
         </tr>
      </tbody>
   </table>

   <button 
      *ngIf="canShowMore" 
      class="btn-main"
      (click)="loadBanners()">
      Ver más
   </button>

</div>
