<div class="container">
   <div>
      <h2 class="section-tit"></h2>
      
      <br />
      <form [formGroup]="questionForm" class="main-form">
         <div class="front-content-main">   
            <div>
               <label>Id</label>
               <input autocomplete="off" name="id" required  min="1" type="number"
                  formControlName="id" readonly/>
            </div>
   
            <div>
               <label>Requisito</label>
               <input autocomplete="off" name="requirement" required type="text"
                  formControlName="requirement" />
            </div>

            <div>
               <label>Criterio</label>
               <textarea autocomplete="off" name="criteria" required min="1" type="text"
                  formControlName="criteria" readonly rows="7" cols="30"></textarea>
            </div>

            <div>
               <label>Evidencia</label>
               <textarea autocomplete="off" name="evidence" required min="1" type="text"
                  formControlName="evidence" readonly rows="7" cols="30"></textarea>
            </div>

            <div>
               <label>Comentario de la Entidad</label>
               <textarea autocomplete="off" name="entityComment" required min="1" type="text"
                  formControlName="entityComment" readonly rows="7" cols="30"></textarea>
            </div>

         </div>
         
         <a class="btn-backUp" style="width: 200px;" target="_blank" [href]="baseUrl+requirement[0].media.url">Descargar Adjunto
         </a>
         
      </form>
   </div>
</div>