﻿$principal: #3B76FB;
$red: #FF007D;
$dark: #004884;
$second: #005dca;
$bor-gray: 1px solid #bdbdbd;
$gray6: #F3F3F3;
$gray7: #E7E7E7;
$text-color: #5C5C5C;
$gray2: #AFAFAF;

.modal {
    &-wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255,255,255,.9);
        z-index: 10;

        form {
            label {
                color: $principal;
            }
        }

        &--bgColor {
            background: transparentize($principal, .3);
        }
        
        &--full {
            background: #fff;
            overflow: auto;

            .content_all {
                padding: 0 0 40px 0;
            }
        }
    }

    &-inner {
        position: absolute;
        width: 90vw;
        padding: 20px;
        min-height: 360px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        &--xl {
            width: 60%;
            max-height: 80vh;
            overflow-y: scroll;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: auto;
        }


        input[type="radio"] {
            margin-right: 5px;
        }
    }

    &__close {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 10px;
        right: 10px;
        // background: url(/src/assets/images/icon-close-2.svg) center no-repeat;
        display: block;
        cursor: pointer;
        transition: .3s;

        svg {
            // display: none;
            width: 22px;
            height: 22px;

            rect {
                fill: $principal;
            }
        }

        &:hover {
            transform: rotate(180deg);
        }
        &--warning {
            background: url(/src/assets/images/icon-close-red.svg) center no-repeat;
        }
    }

    &-wrapTxt {
        width: 100%;
        height: 100%;

        &--formula {
            max-height: 70vh;
            overflow-y: auto;
            width: 85%;
            padding: 20px 5% 0 0%;
        }

        #clock {
            display: block;
            margin: auto;

            path {
                fill: $principal;
            }
        }
    }

    &__tit {
        color: $principal;
        /*font-family: $mont;*/
        font-weight: 700;
        text-align: center;
        font-size: 1.78rem;
        margin-bottom: 20px;

        &--warning {
            color: $red;
        }
    }

    &__txt {
        color: $dark;
        font-size: 1.14rem;
        text-align: center;
        margin-bottom: 20px;

        &--warning {
            // color: $red;
        }

        a {
            color: $second;
            text-decoration: underline;
        }
    }

    &__button {
        display: block;
        margin: 20px auto;
    }

    &__button:disabled {
        background: #b9dbff;
    }

    &__label {
        color: $dark;
    }

    &__inputDate {
        border: 1px solid #ccc !important;
        width: 100% !important;
        padding: 14px 0 14px 45px !important;

    }

    &__btnProg {
        float: none !important;
        margin: 20px auto !important;
    }

    &__btn {
        padding: 10px 25px;
        color: #fff;
        background: $principal;
        border-radius: 30px;
        /*font-family: $mont;*/
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        display: block;
        width: 100px;
        margin: auto;
        cursor: pointer;

        &--inLine {
            display: inline-block;
            margin: 0;
        }

        &--warning {
            background: $red;
            margin: 0 5px;
            width: 160px;
        }

        &--btnAdmin {
            background: $red;
            margin: 0 5px;
            width: auto;
        }
    }

    &__imgAuto {
        display: block;
        margin: auto;

        &--load {
            width: 40px;
        }
    }

    &-wrapBtnWarning {
        display: flex;
        justify-content: center;

        .btn-main {
            margin: 0 5px;
        }
    }

    &__input {
        width: 100%;
        height: 40px;
        border: $bor-gray !important;
        border-radius: 5px;
    }

    &__iconWarning {
        margin: auto;
        display: block;
    }

    &-wLoad {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-btnDel {
        width: 14px;
        height: 14px;
        background: url(/src/assets/images/icon-delete.svg)center no-repeat;
        display: block;
        background-size: contain;
    }

    &__rowInfo {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid transparentize($dark, .9);
        color: $dark;
        font-size: 1.14rem;
        padding: 5px 0 5px 0;
        margin: 0 0 10px 0;
        min-height: 20px;
    }

    &__fixInfo {
        color: $dark;
        font-size: 1.14rem;
    }

    &__btnBorder {
        padding: 3px 15px;
        color: $second;
        border: $second 1px solid;
        border-radius: 20px;
        font-effect: 300px;
        transition: .3s;
        position: relative;

        &:hover {
            background: $second;
            color: #fff;
        }
    }

    &-upDoc {
        padding: 3px 15px;
        color: $principal;
        border: $principal 1px solid;
        border-radius: 20px;
        font-effect: 300px;
        transition: .3s;
        position: relative;
        height: 20px;
        width: 250px;
        line-height: 20px;
        text-align: center;

        input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100px;
            z-index: 2;
            opacity: 0;
        }
    }

    &-row {
        display: flex;
        align-items: center;
        margin: 10px 0;
        width: 100%;
    }

    &-nameAdd {
        color: $principal;
        margin-right: 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-left: 10px;
        }

        svg {
            width: 20px;
            height: 34px;

            path {
                fill: $principal;
            }
        }
    }

    &-deleteAdd {
        display: flex;
        align-items: center;
        font-size: 11px;
        margin-left: 10px;
        color: $red;

        svg {
            width: 10px;
            height: 10px;
            margin-left: 5px;

            path {
                fill: $red;
            }
        }
    }

    &__iconPc {
        display: block;
        margin: 20px auto;
        width: 80px;
        height: 80px;

        path {
            fill: $principal;
        }
    }
}


.setBanner-wrapTxt h1 {
    font-size: 6vh;
}

.setBanner-wrapTxt {
    top: 106px !important;
}

.setBanner-wrapTxtMain {
    top: 125px;
}

.setBanner-wrapTxt h1, .setBanner-wrapTxt h3 {
    border: solid 1px #fff9;
    padding: 3px;
    margin: 4px 0;
}

.setBanner__titMob {
    // word-break: break-all;
    // font-size: 3vh;
}

.setBanner__txtMob {
    word-break: break-all;
}

.setBanner__orderTxt {
    word-break: break-all;
}

iframe.setBanner__imgVideo {
    height: 540px;
    margin: 15px 0;
}

.setBanner-orderCol.imglist {
    height: 60px;
    width: 110px;
}

.setBanner-orderCol.imglist img {
    object-fit: cover;
    width: 95px;
    height: 100%;
}


.wrap-editW {
    background: #fff;
    margin-top: -40px;
    padding-bottom: 40px;
    min-height: calc(100vh - 95px);
}


.setBanner {
    &-wrap {
        position: relative;
    }

    &-rowUp {
        width: calc(96% - 2px);
        border-top: 1px solid $principal;
        border-right: 1px solid $principal;
        border-left: 1px solid $principal;
        padding: 0 2%;
        display: flex;
        align-items: center;
    }
    
    &-btnPhoto {
        background: url(/src/assets/images/icon-camera.svg) calc(100% - 10px) no-repeat;
        color: $dark;
        width: 150px;
        height: 37px;
        position: relative;
        font-size: 1.14rem;
        line-height: 37px;
        cursor: pointer;

        input {
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        &--single {
            width: 25px;
            margin: 0 10px;
            // background: url(/src/assets/images/icon-camera.svg) center no-repeat;
            background: none;
            background-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            svg {
                path {
                    fill: $principal;
                }
            }
        }
    }

    &-wrapImg {
        background: #F3F3F3;
        overflow: hidden;
        // height: 350px;
        //height: 320px;
        height: 239.5px;
        text-align: center;
        border: 1px solid $principal;

        &--noCenter {
            text-align: inherit;
        }

        .setBanner-hw100 {
            border: none;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
    }

    &-wrapLogos {
        width: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        top: 39px;

        img {
            width: 80px;
            height: 80px;
            margin: 0px 8px !important;
        }
    }

    &-wrapTxt {
        width: calc(100% - 40px);
        position: absolute;
        z-index: 1;
        top: 200px;
        left: 0;
        color: #fff;
        /*font-family: $mont;*/
        padding: 0 0 0 20px;

        &--movil {
            top: 45% !important;
        }

        h1 {
            font-size: 50px;
            // font-weight: 700;
        }

        h3 {
        }

        &.bold {
            h1 {
                font-weight: 700;
            }

            h3 {
                font-weight: 700;
            }
        }
    }

    &__over {
        top: 38px;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0, .6);
        position: absolute;
        z-index: 1;
    }

    &-wSetLogos {
        width: 100%;
        display: flex;
        margin: 30px 0;
    }

    &-colSetLogos {
        width: 50%;
    }

    &__tit {
        color: $dark;
        font-size: 25px;
        font-weight: 700;
    }

    &__txt {
        font-size: 16px;
        color: #A3A3A3;
    }

    &-wImgLogo {
        width: 120px;
        height: 120px;
        border: 1px solid $principal;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-delLogo {
        width: 25px;
        height: 25px;
        background: #fff;
        border-radius: 50%;
        top: -5px;
        right: -5px;
        position: absolute;
        // background: #fff url(/src/assets/images/icon-delete.svg) center no-repeat;
        background-size: 50%;
        box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
        transition: .3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            path {
                fill: $principal;
            }
        }

        &:hover {
            transform: scale(1.2);
        }

        &--banner2 {
            top: 50px;
            right: 10px;
            z-index: 2;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                path {
                    fill: $principal;
                }
            }
        }

        &--bannerMob {
            top: 10px;
            right: 10px;
            z-index: 2;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                path {
                    fill: $principal;
                }
            }
        }
    }

    &-rowSet {
        display: flex;
        margin-top: 20px;

        &--align {
            align-items: center;
            margin-bottom: 20px;

            .setBanner-upLogo {
                margin: 0 10px 0 0;
            }
        }
    }

    &-upLogo {
        width: 85px;
        height: 33px;
        border: 1px solid $principal;
        border-radius: 18px;
        position: relative;
        // background: url(/src/assets/images/icon-camera.svg) calc(100% - 10px) no-repeat;
        line-height: 33px;
        color: $dark;
        margin: 10px 0 0 10px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 2;
        }
        // &::before{
        //   content: "Subir"
        // }
        svg {
            path {
                fill: $principal;
            }
        }

        span {
            margin-right: 10px;
        }
    }

    &-wbtnSave {
        display: flex;

        .btn-main {
            margin-right: 10px;
        }
    }

    &-btnVideo {
        width: 20px;
        height: 37px;
        margin: 0 10px;
        display: block;
        // background: url(/src/assets/images/icon-video.svg) center no-repeat;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            path {
                fill: $principal;
            }
        }
    }

    &-hw100 {
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border: 1px solid $principal;
    }

    &__bold {
        width: 20px;
        height: 37px;
        margin: 0 10px;
        background: url(/src/assets/images/icon-bold.svg) center no-repeat;
        display: block;

        svg {
            display: none;
        }

        &.active {
            // background:url(/src/assets/images/icon-texto-active.svg) center no-repeat;
            background: none;

            svg {
                display: block;
                margin: auto;

                path {
                    fill: $principal;
                }
            }
        }
    }

    &__left {
        width: 20px;
        height: 37px;
        margin: 0 10px;
        background: url(/src/assets/images/icon-left.svg) center no-repeat;
        display: block;

        svg {
            display: none;
        }

        &.active {
            // background: url(/src/assets/images/icon-left-active.svg) center no-repeat;
            background: none;

            svg {
                display: block;
                margin: auto;

                rect {
                    fill: $principal;
                }
            }
        }
    }

    &__center {
        width: 20px;
        height: 37px;
        margin: 0 10px;
        background: url(/src/assets/images/icon-center.svg) center no-repeat;
        display: block;

        svg {
            display: none;
        }

        &.active {
            // background: url(/src/assets/images/icon-center-active.svg) center no-repeat;
            background: none;

            svg {
                display: block;
                margin: auto;

                rect {
                    fill: $principal;
                }
            }
        }
    }

    &-wBannerMob {
        width: 375px;
        height: 570px;
        background: $gray6 url(/src/assets/images/icon-camera-w.svg) center no-repeat;
        background-size: 50px;
        position: relative;

        .setBanner__over {
            top: 0;
        }
    }

    &__titMob {
        font-size: 25px;
        color: #fff;
        font-weight: 700;
    }

    &__txtMob {
        font-size: 18px;
        color: #fff;
    }

    &-order {
        list-style: none;
        margin: 20px 0;
        padding: 0;
    }

    &-orderRow {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $gray7;
        padding: 10px 0;

        &:hover {
            background: rgba($principal, .1);
        }
    }

    &-orderCol {
        &:nth-child(1) {
            display: flex;
            flex-flow: column;
            // padding: 0 15px;
            width: 30px;
        }

        &:nth-child(2) {
            // padding: 0 5px;
            width: 30px;
        }

        &:nth-child(3) {
            // padding: 0 10px;
            width: 105px;
        }

        &:nth-child(4) {
            width: calc(100% - 265px);
            padding: 0 10px 0 0;
        }

        &:nth-child(5) {
            width: 90px;
        }
    }

    &__btnUp {
        width: 20px;
        height: 20px;
        // background: url(/src/assets/images/icon-arrowUp.svg)center no-repeat;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            rect {
                fill: $principal;
            }
        }
    }

    &__btnDown {
        width: 20px;
        height: 20px;
        // background: url(/src/assets/images/arrow-down.svg)center no-repeat;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            rect {
                fill: $principal;
            }
        }
    }

    &__orderNum {
        font-weight: 700;
        font-size: 25px;
        color: #000;
        color: $principal;
    }

    &__orderImg {
        width: 160px;
        height: 65px;
    }

    &__orderTxt {
        color: $text-color;
        font-size: 14px;
        margin: 0;
    }

    &-delete {
        float: right;
        color: $dark;
        display: flex;
        align-items: center;
        background: none !important;

        span {
            width: 15px;
            height: 15px;
            // background: url(/src/assets/images/icon-delete.svg)center no-repeat;
            display: block;
            margin-left: 5px;

            svg {
                path {
                    fill: $principal;
                }
            }
        }

        &:disabled {
            background: none !important;
        }
    }

    &__imgVideo {
        width: 100%;
        transform: translateY(-25%);
    }

    &__imgXs {
        object-fit: cover;
        width: 95px;
        height: 60px;
    }

    &__btnEdit {
        color: $principal;
        padding: 5px 10px;
        border: 1px solid $principal;
        width: 60px;
        padding: 0 10px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        transition: .3s;

        svg {
            path {
                fill: $principal;
            }
        }

        &:hover {
            background: $principal;
            color: #fff;

            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }

    &__btnAdd {
        color: $dark;
        padding: 5px 20px;
        border: 1px solid $principal;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        width: 85px;
        margin: 20px 0;
        transition: .3s;

        svg {
            transition: .3s;

            rect {
                fill: $principal;
            }
        }

        &:hover {
            background: $principal;
            color: #fff;

            svg {
                rect {
                    fill: #fff;
                }
            }
        }

        &.disable {
            color: $gray2;
            border: 1px solid $gray2;
            cursor: not-allowed;

            svg {
                rect {
                    fill: $gray2;
                }
            }

            &:hover {
                background: none;
            }
        }
    }

    &-btnMove {
        width: 100px;
        height: 25px;
        background: $dark;
        color: #fff;
        border: 1px solid #fff;
        position: absolute;
        z-index: 2;
        top: 50px;
        right: 50px;
        border-radius: 30px;
        // font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
            margin-right: 10px;
        }

        img {
            width: 12px;
            height: 12px;
        }

        &--movil {
            top: 10px;
        }
    }

    &__btnSave {
        width: 100px;
        height: 25px;
        background: $dark;
        color: #fff;
        border: 1px solid #fff;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        right: 10px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__btnCancel {
        width: 100px;
        height: 25px;
        background: $dark;
        color: #fff;
        border: 1px solid #fff;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        right: 125px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.cover-img-v {
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    /*opacity: .5;*/
    width: 100%;
    position: relative;
}

.cover-img {
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    /*opacity: .5;*/
    width: 100%;
    position: relative;
}

.center {
    text-align: center;
}