﻿.pos-rel {
    position: relative;
}

.launhpad-b {
    margin: 10px 0;
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}

.modal__close {
    svg {
        display: none !important;
    }
}

button {
    outline: none;
}

.create-content-load-crawler {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.8);
    display: flex;
    align-content: center;
    align-items: center;
    z-index: 10000;
    font-size: 18px;

    b {
        text-align: center;
        flex: 1;
    }
}

.loader-image {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.model-desktop {
    @media (min-width: 1200px) {
        display: none;
    }
}

.car-range {
    &.gray {
        color: gray;
    }

    &.red {
        color: #FA003A;
    }

    &.yellow {
        color: #FFAB02;
    }

    &.green {
        color: #046213;
    }
}

.footer-wGovCo {
    width: 100%;
    padding: 30px 10px;

    img:nth-child(1) {
        width: 60px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-wlogosGov {
            display: flex;
            width: 300px;
            justify-content: space-between;
            align-items: center;

            .sep {
                height: 66px;
                width: 1px;
                background: #ffffff;
            }
        }

        .footer-linkGov {
            font-size: 1.14rem;
        }
    }

    .footer-linkGov {
        text-decoration: underline;
    }
}

.captcha {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;

    input {
        width: 95px;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #E7E7E7;
        border-radius: 3px;
        outline: none;
    }

    button {
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        margin: 0;
        transition: .6s;
        outline: none;

        img {
            width: 30px;
            height: 30px;
        }

        &:hover {
            transform: rotate(180deg);
        }
    }

    &-row {
        display: flex;
        margin: 5px 0;
        // width: 125px;
        width: 240px;

        &:first-child {
            background: #fff;
            border-radius: 3px;

            img {
                display: block;
                margin: auto;
            }
        }
    }
}

.wrap-btnCenter {
    display: flex;
    justify-content: center;
}

.wrap-btnLeft {
    display: flex;
    justify-content: left;
}

.btn-gray-button {
    background: #f2f2f2;
    color: #4c4c4c;
    padding: 5px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.btn-gray-button:hover {
    background: #004884;
    color: #fff;
}

.modal__subtit {
    color: #3B76FB;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
