@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mzphjr');
  src:  url('../fonts/icomoon.eot?mzphjr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mzphjr') format('truetype'),
    url('../fonts/icomoon.woff?mzphjr') format('woff'),
    url('../fonts/icomoon.svg?mzphjr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-type:before {
    content: "\e900";
}

.icon-delete-2:before {
    content: "\e901";
}

.icon-t1:before {
    content: "\e902";
}

.icon-t2:before {
    content: "\e903";
}

.icon-t3:before {
    content: "\e904";
}

.icon-box:before {
    content: "\e905";
}

.icon-build:before {
    content: "\e906";
}

.icon-bullhorn:before {
    content: "\e907";
}

.icon-calendar:before {
    content: "\e908";
}

.icon-cash:before {
    content: "\e909";
}

.icon-check:before {
    content: "\e90a";
}

.icon-clasif:before {
    content: "\e90b";
}

.icon-close:before {
    content: "\e90c";
}

.icon-datos:before {
    content: "\e90d";
}

.icon-docs:before {
    content: "\e90e";
}

.icon-edit:before {
    content: "\e90f";
}

.icon-flag2:before {
    content: "\e910";
}

.icon-hand:before {
    content: "\e911";
}

.icon-home:before {
    content: "\e912";
}

.icon-home2:before {
    content: "\e913";
}

.icon-mail:before {
    content: "\e914";
}

.icon-menu:before {
    content: "\e915";
}

.icon-more:before {
    content: "\e916";
}

.icon-noti:before {
    content: "\e917";
}

.icon-plan:before {
    content: "\e918";
}

.icon-quest:before {
    content: "\e919";
}

.icon-rule:before {
    content: "\e91a";
}

.icon-search:before {
    content: "\e91b";
}

.icon-star:before {
    content: "\e91c";
}

.icon-sun:before {
    content: "\e91d";
}

.icon-transact:before {
    content: "\e91e";
}

.icon-dasigno:before {
    content: "\e91f";
}

.icon-loc:before {
    content: "\e920";
}

.icon-down:before {
    content: "\e921";
}

.icon-clip:before {
    content: "\e922";
}

.icon-cup:before {
    content: "\e923";
}

.icon-date:before {
    content: "\e924";
}

.icon-delete:before {
    content: "\e925";
}

.icon-phone:before {
    content: "\e926";
}

.icon-camera:before {
    content: "\e927";
}

.icon-default:before {
    content: "\e928";
}

.icon-film:before {
    content: "\e929";
}

.icon-mas:before {
    content: "\e92a";
}

.icon-next:before {
    content: "\e92b";
}

.icon-picture:before {
    content: "\e92c";
}

.icon-prev:before {
    content: "\e92d";
}

.icon-clock:before {
    content: "\e92e";
}

.icon-flag:before {
    content: "\e92f";
}

.icon-share:before {
    content: "\e930";
}

.icon-corazon:before {
    content: "\e931";
}

.icon-msn:before {
    content: "\e932";
}

.icon-file:before {
    content: "\e933";
}

.icon-link:before {
    content: "\e934";
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}
