@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin rotate($rotate){
	-webkit-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
	transform: rotate($rotate);		
}
@mixin transition($item){
	-webkit-transition: ease all ($item);
	-moz-transition: ease all ($item);
	-ms-transition: ease all ($item);
	transition: ease all ($item);		
}
@mixin circle($value){
	border-radius: 50%;
	width: $value;
	height: $value;
	overflow: hidden;
}
@mixin box-shadow($shadow){
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	box-shadow: $shadow;
}

// media queries mixins

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin media ($ancho) {
  @media (max-width: $ancho) {
    @content;
  }
}
@mixin mediaAlto ($alto) {
  @media (max-height: $alto) {
    @content;
  }
}