﻿.tema {
    &-1 {
        background-color: #3B76FB !important;
        color: #FFFFFF !important;
    }

    &-2 {
        background-color: #FFFFFF !important;
        color: #3B76FB !important;
    }

    &-3 {
        background-color: #FF007D !important;
        color: #FFFFFF !important;
    }

    &-4 {
        background-color: #FFFFFF !important;
        color: #FF007D !important;
    }

    &-5 {
        background-color: #038F67 !important;
        color: #FFFFFF !important;
    }

    &-6 {
        background-color: #FFFFFF !important;
        color: #038F67 !important;
    }

    &-7 {
        background-color: #FF6D00 !important;
        color: #FFFFFF !important;
    }

    &-8 {
        background-color: #FFFFFF !important;
        color: #FF6D00 !important;
    }

    &-9 {
        background-color: #004884 !important;
        color: #FFFFFF !important;
    }

    &-10 {
        background-color: #FFFFFF !important;
        color: #004884 !important;
    }

    &-11 {
        background-color: #6F2EAF !important;
        color: #FFFFFF !important;
    }

    &-12 {
        background-color: #FFFFFF !important;
        color: #6F2EAF !important;
    }

    &-13 {
        background-color: #488704 !important;
        color: #FFFFFF !important;
    }

    &-14 {
        background-color: #FFFFFF !important;
        color: #488704 !important;
    }

    &-15 {
        background-color: #DAE9F5;
        color: #005ECA;
    }

    &-16 {
        background-color: #BA0659;
        color: #FFFFFF;
    }

    &-17 {
        background-color: #C400FF;
        color: #FFFFFF;
    }

    &-18 {
        background-color: #00A4E0;
        color: #FFFFFF;
    }

    &-19 {
        background-color: #7C8606;
        color: #EBFF00;
    }

    &-20 {
        background-color: #003C77;
        color: #12FFBF;
    }

    &-21 {
        background-color: #FFD800;
        color: #FF0080;
    }
}
