<div class="main-container">
   <div *ngFor="let logo of logos">
      <div class="create-content">
         <div class="row-input">
            <label>Id</label>
            <input type="text" readonly [value]="logo.id"/>
        </div>
      </div>
      <div class="img-center">
         <img class="logo-img" [src]="headerLogoSrc" alt="Header Img">
            <app-file-upload               
               #fileUploadComponent 
               (selectedFilesEvent)="getLogoHeader($event)"
               [multiple]="false"
               [textValue]="'ENCABEZADO'">
            </app-file-upload>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="img-center">
         <img class="logo-img" [src]="footerLogoSrc" alt="Footer Img">
         <app-file-upload               
               #fileUploadComponent 
               (selectedFilesEvent)="getLogoFooter($event)"
               [multiple]="false"
               [textValue]="'PIE DE PÁGINA'">
            </app-file-upload>       
      </div>
   </div>

   <div class="btn-main-right">
      <div class="row-input">
         <button 
            class='btn-main'
            type='button'
            (click)="updateLogos()">
            GUARDAR
         </button>
      </div>
   </div>
</div>