<div class="row-input">
   <button 
      class='btn-main'
      type='button' 
      [disabled]="disabled"
      (click)="addFile()">
      {{ textValue }}
   </button>
</div>

<div *ngIf="activateDeleteBtn" class="row-input btn-first">
   <button 
      class="btn-prog" 
      style="margin-bottom: 20px;"
      (click)="removeFile()">
       Eliminar
      </button>
</div>


<input #fileUpload
      style='display: none' 
      type='file'
      (change)='handleFileInput($event)'     
      [multiple]='multiple'/>

   

