<div class="main-container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/applications/no-awarded' ]">Atrás</button>
   <table class="table-admin">
      <thead>
         <tr>
            <th>Id</th>
            <th>Requisito</th>
            <th>Comentario</th>
            <th>Categoria</th>
            <th>Adjunto</th>
            <th>Estado</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let requirement of services[0].requisites">
            <td>{{ requirement.question.id }}</td>
            <td>{{ requirement.question.text }}</td>
            <td>{{ requirement.comment }}</td>
            <td>{{ services[0].category.name }}</td>
            <td>
               <a class="link-adjunto" target="_blank" [href]="baseUrl+requirement.media.url">Adjunto</a>
            </td>        
            <td>{{ requirement.status.name }}</td>         
            <td>
               <button 
                  type="button" 
                  class="btn-save"
                  (click)="viewMore(requirement)">
                  Ver
               </button>
            </td>               
         </tr>
      </tbody>
   </table>


</div>
