<div class="modal-container">

   <mat-card-title class="title-right">Detalle de Respuesta</mat-card-title>
   <div class="separator"></div>
   <mat-card-content>
      <div class="menu-backup">
         <button [ngClass]="{'btn-backUp': showDetails}" style="width: 150px; height: 40px;" class="btn-prog right new-class" type="submit" (click)="changeView(1)">Detalles del Requisito</button>
         <button [ngClass]="{'btn-backUp': showRates}"  style="width: 150px; height: 40px;" class="btn-prog right new-class" type="submit" (click)="changeView(2)">Evaluaciones</button>
      </div>

      <app-requeriment-details *ngIf="showDetails && data.requirement" [requirement]="[data.requirement]"></app-requeriment-details>
      <app-evaluators-details *ngIf="showRates && data.requirement" [requirement]="[data.requirement]"></app-evaluators-details>
   </mat-card-content>

   <div class="separator"></div>
   <div class="btn-container mb-4" mat-dialog-actions>
        <button class='btn-prog right' (click)="onNoClick()">Cerrar</button>
   </div>
   
</div>