<div class="container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/applications/no-awarded' ]">Atrás</button>
   <div>
      <h2 class="section-tit"></h2>
      
      <br />
      <form [formGroup]="serviceForm" class="main-form">
         <div class="front-content-main">   
            <div>
               <label>Id</label>
               <input autocomplete="off" name="id" required  min="1" type="number"
                  formControlName="id" readonly/>
            </div>
   
            <div>
               <label>Nombre</label>
               <input autocomplete="off" name="name" required min="1" type="text"
                  formControlName="name" />
            </div>

            <div>
               <label>Categoria</label>
               <input autocomplete="off" name="category" required min="1" type="text"
                  formControlName="category" readonly/>
            </div>

            <div>
               <label>Estado Actual</label>
               <input autocomplete="off" name="status" required min="1" type="text"
                  formControlName="status" readonly/>
            </div>

            <div>
               <label>Nivel</label>
               <input autocomplete="off" name="level" required min="1" type="text"
                  formControlName="level" readonly/>
            </div>

            <div>
               <label>Calificación</label>
               <input autocomplete="off" name="rate" required min="1" type="text"
                  formControlName="rate" readonly/>
            </div>

            <div>
               <label>Url</label>
               <input autocomplete="off" name="url" required min="1" type="text"
                  formControlName="url"/>
            </div>

            <div>
               <label>Entidad</label>
               <input autocomplete="off" name="institution" required min="1" type="text"
                  formControlName="institution"/>
            </div>

            <div style="margin-top: 20px;">
               <label>Usuario de Prueba</label>
            </div>

            <div style="margin-top: 20px;">
               <label>Clave de Prueba</label>
            </div>

  
            <div style="margin-top: 20px;">
               <label>Activo</label>
               <input id="cbox1" type="checkbox" formControlName="is_active">
            </div>
            
   

            <div>
               <label>Fecha de Creación</label>
               <input autocomplete="off" name="timestamp" required type="text"
                  formControlName="timestamp" readonly />
            </div>

         </div>
                  
         <button class="btn-backUp" type="submit" (click)="updateService()">Guardar</button>
      </form>
   </div>
</div>