<div class="main-container">

   <form [formGroup]="searchForm" class="form-search" style="margin:20px 0">
      <div>
         <div class="cl-5 fix-height-input">
            <label>Buscar por titulo o resumen</label>
            <input name="search" type="text" formControlName="search"/>
         </div>
   
   
         <div class="cl-5">
            <label>Tipo</label>
            <select
               name="type"
               formControlName="type">
               <option value="">Todos</option>
               <option *ngFor="let type of types">{{ type }}</option>
            </select>
         </div>
         <div class="cl-5">
            <label>Activo</label>
            <select 
               name="active"
               formControlName="active">
               <option value="">Todos</option>
               <option value="1">Activo</option>
               <option value="0">Inactivo</option>
            </select>
         </div>  
         <input 
            type="submit" 
            class="btn-main" 
            value="Buscar"
            (click)="search()">
      </div>
      

      <input 
         type="submit" 
         class="btn-main btn-create" 
         value="Crear"
         [routerLink]="[ '/admin/general/banners/create' ]">
      <br />
   </form>

   <table class="table-admin">
      <thead>
         <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Nivel</th>
            <th>Fecha de Creación</th>
            <th>Entidad</th>
            <th>Activo</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let service of servicesList">
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.category.name }}</td>
            <td>{{ service.level }}</td>
            <td>{{ service.timestamp }}</td>
            <td>{{ service.institution.name }}</td>
            <td>
               <input 
                  id="cbox1" 
                  type="checkbox"    
                  onclick="return false;"           
                  [value]="service.is_active" 
                  [checked]="service.is_active">
            </td>
            
            <td>
               <button 
                  type="button" 
                  class="btn-save"
                  [routerLink]="[ '/admin//applications/no-awarded/details', service.id ]">
                  Detalles
               </button>
            </td>
         </tr>
      </tbody>
   </table>

   <button 
      *ngIf="canShowMore" 
      class="btn-main"
      (click)="loadServices()">
      Ver más
   </button>

</div>
