<div class="container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/manage/time-req' ]">Atrás</button>
   <div>
      <h2 class="section-tit"></h2>
      
      <br />
      <form [formGroup]="requestStatusForm" class="main-form">
         <div class="front-content-main">   
            <div>
               <label>Duración (Dias)</label>
               <input autocomplete="off" name="duration" required  min="1" type="number"
                  formControlName="duration" />
            </div>
   
            <div>
               <label>Día para Alarma</label>
               <input autocomplete="off" name="pre_end" required min="1" type="number"
                  formControlName="pre_end" />
            </div>
   

            <label>Enviar Notificación</label>
            <input id="cbox1" type="checkbox" formControlName="alert">
   

            <div>
               <label>Descripción</label>
               <input autocomplete="off" name="description" required type="text"
                  formControlName="description" />
            </div>

         </div>
                  
         <button class="btn-backUp" type="submit" (click)="updateBanner()">Guardar</button>
      </form>
   </div>
</div>