.img-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.logo-img{
   max-height:  400px;
}

.front-content-main{
   width: 800px;
   margin: 20px auto;
}

.main-form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.angular-editor-container{
   margin-top: 5px;
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.angular-editor{
   width: 100%;
}