<div class="container">
   <br>
   <br>
   <br>
   <div>
      <h2 class="section-tit"></h2>
      
      <br />
      <form [formGroup]="footerForm" class="main-form">
         
         <label>Datos Básicos</label>
         <div class="angular-editor-container">
            <angular-editor 
               class="angular-editor" 
               formControlName="htmlContent"
               [config]="editorConfig">             
            </angular-editor>
         </div>
         
         <button class="btn-backUp" type="submit" (click)="updateFooter()">Guardar</button>
      </form>
   </div>
</div>