<div class="main-container">
   <button class="btn-prog right" style="margin-bottom: 50px;" [routerLink]="[ '/admin/applications/no-awarded' ]">Atrás</button>
   <table class="table-admin">
      <thead>
         <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Comentario</th>
            <th>Calificación</th>
            <th>Fecha</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let commit of commits">
            <td>{{ commit.id }}</td>
            <td>{{ commit.user }}</td>
            <td>{{ commit.comment }}</td>
            <td>{{ commit.rate }}</td>
            <td>{{ commit.timestamp }}</td>                  
         </tr>
      </tbody>
   </table>


</div>
