<div class="main-container">

   <form class="form-search" style="margin:20px 0">
      <input 
         type="submit" 
         class="btn-main btn-create" 
         value="Crear"
         [routerLink]="[ '/admin/manage/regions/create' ]">
      <br />
   </form>

   <table class="table-admin">
      <thead>
         <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Pais</th>
            <th>Codigo</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let requestStatus of requestStatusList">
            <td>{{ requestStatus.id }}</td>
            <td>{{ requestStatus.name }}</td>
            <td>{{ requestStatus.capital.name }}</td>
            <td>{{ requestStatus.country.name }}</td>
            <td>{{ requestStatus.code }}</td>
            <td>
               <button 
                  type="button" 
                  class="btn-save"
                  [routerLink]="[ '/admin/manage/regions/edit', requestStatus.id ]">
                  Editar
               </button>
            </td>
         </tr>
      </tbody>
   </table>

   <button 
      *ngIf="canShowMore" 
      class="btn-main"
      (click)="loadRequestStatus()">
      Ver más
   </button>

</div>
