<div class="modal-container">

    <mat-card-title class="title-left">Información</mat-card-title>
    <mat-card-content>
        Se ha guardado exitosamente
    </mat-card-content>

    <div class="separator"></div>
    <div class="btn-container">
        <button class='btn-main' [mat-dialog-close]="selectedUser" (click)="onNoClick()" cdkFocusInitial>Aceptar</button>
    </div>
    
</div>