<div class="body-login">
   <div class="login">
      <form [formGroup]="form" autocomplete="off">
         <img style="width: 300px;" src="assets/images/sell_gel.png" />

         <label>Usuario</label>
         <input 
            formControlName="email"
            autocomplete="on" 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
            required 
            maxlength="150" 
            type="email"
            name="email" 
            placeholder="Correo electrónico" />

         <label>Contraseña</label>
         <input 
            required 
            type="password" 
            name="password" 
            placeholder="Contraseña"
            formControlName="password">

         <div *ngIf="errorMessage != null" class="mb-4" style="display: flex; justify-content: center; margin-top: 12px;">
            <span class="error">{{ errorMessage }}</span>
         </div>

         <button 
            class="btn-enter" 
            type="submit" 
            (click)="login()"
            [disabled]="!form.valid || loading">LOGIN</button>
      </form>
   </div>
</div>