.body-login {
   width: 100%;
   height: 100vh;
   min-height: 515px;
}

.login {
   width: 310px;
   margin: auto;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   height: calc(100% - 61px);
   box-sizing: border-box;
   padding: 60px 0;

   form {
       width: 100%;
   }

   label {
       text-align: left;
   }

   img {
       display: block;
       margin: 0 auto 30px;
   }

   .btn-enter {
       background: #3DA7FF;
       color: #FFF;
       border-radius: 3px;
       width: 140px;
       margin: 20px auto 0;
       padding: 5px 0;
       font-size: 18px;
       text-align: center;
       font-family: 'Helvetica-bold';
       display: block;
       cursor: pointer;
   }

   .btn-close {
       float: right;
       margin: -20px -20px 0 0;
   }

   span {
       cursor: pointer;
   }
}