<div class="container">
   <form [formGroup]="cardForm" class="main-form card mt-4 mb-2">
      <div class="front-content-main ">
         <div class="row">
            <div class="col">
               <label>Nombre</label>
               <input autocomplete="off" name="name" required min="1" type="text" formControlName="name" readonly/>
            </div>

            <div class="col">
               <label>Segundo Nombre</label>
               <input autocomplete="off" name="secondName" required min="1" type="text" formControlName="secondName"
                  readonly />
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label>Apellido</label>
               <input autocomplete="off" name="lastName" required min="1" type="text" formControlName="lastName"
                  readonly />
            </div>

            <div class="col">
               <label>Segundo Apellido</label>
               <input autocomplete="off" name="secondLastName" required min="1" type="text"
                  formControlName="secondLastName" readonly />
            </div>
         </div>

         <div class="row">
            <div class="col">
               <label>Correo Electrónico</label>
               <input autocomplete="off" name="email" required min="1" type="text" formControlName="email" readonly />
            </div>

            <div class="col">
               <label>Celular</label>
               <input autocomplete="off" name="phone" required min="1" type="text" formControlName="phone" readonly/>
            </div>
         </div>
      </div>
   </form>
</div>