<div class="main-container">

   <form [formGroup]="searchForm" class="form-search" style="margin:20px 0">
      <div>
         <div class="cl-5 fix-height-input">
            <label>Buscar</label>
            <input name="search" type="text" formControlName="search"/>
         </div>
   
         <input 
            type="submit" 
            class="btn-main" 
            value="Buscar"
            (click)="search()">
      </div>
      

      <br />
   </form>

   <table class="table-admin">
      <thead>
         <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Duración (Dias)</th>
            <th>Dias para Alarma</th>
            <th>Enviar Notificación</th>
            <th>Descripción</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let requestStatus of requestStatusList">
            <td>{{ requestStatus.id }}</td>
            <td>{{ requestStatus.name }}</td>
            <td>{{ requestStatus.duration }}</td>
            <td>{{ requestStatus.pre_end }}</td>
            <td>{{ requestStatus.alert === 0 ? 'No' : 'Si'}}</td>
            <td>{{ requestStatus.description }}</td>
            <td>
               <button 
                  *ngIf="requestStatus.alert === 0"
                  type="button" 
                  class="btn-save"
                  [routerLink]="[ '/admin/manage/time-req/edit', requestStatus.id ]">
                  Editar
               </button>
            </td>
         </tr>
      </tbody>
   </table>

   <button 
      *ngIf="canShowMore" 
      class="btn-main"
      (click)="loadRequestStatus()">
      Ver más
   </button>

</div>
